---
import BaseLayout from '../../layouts/BaseLayout.astro';
import TextualContent from '../TextualContent.astro';

import { detailHref } from '../../lib/links';
import { normalizeLocale } from '../../i18n/site';

import '../../styles/history.scss';
import { getHistory, getTextualEntry } from '../../lib/content';

const locale = normalizeLocale(Astro.currentLocale);
const historyItems = await getHistory(locale);

// todo: order history here.

const historyBodies = await Promise.all(
    historyItems.map(async ([id]) => {
        const bodyEntry = await getTextualEntry(locale, 'history', id);
        const { Content } = await bodyEntry.render();
        return Content;
    })
);
---

<BaseLayout pageName='history'>
    <main>
        <div class='ag-format-container'>
            <div class='js-timeline ag-timeline'>
                <div class='js-timeline_line ag-timeline_line'>
                    <div class='js-timeline_line-progress ag-timeline_line-progress'></div>
                </div>
                <div class='ag-timeline_list'>
                    {
                        historyItems.map(([id, h], i) => {
                            const isOdd = i % 2 === 1;
                            const HistoryBody = historyBodies[i];
                            const href = detailHref(locale, 'history', id);

                            return (
                                <div class='lvl js-timeline_item ag-timeline_item'>
                                    <div class='ag-timeline-card_box'>
                                        {isOdd ? (
                                            <>
                                                <div class='ag-timeline-card_meta-box'>
                                                    <div class='ag-timeline-card_meta' set:html={h.meta} />
                                                </div>
                                                <div class='js-timeline-card_point-box ag-timeline-card_point-box'>
                                                    <div class='ag-timeline-card_point'>{h.year ?? ''}</div>
                                                </div>
                                            </>
                                        ) : (
                                            <>
                                                <div class='js-timeline-card_point-box ag-timeline-card_point-box'>
                                                    <div class='ag-timeline-card_point'>{h.year ?? ''}</div>
                                                </div>
                                                <div class='ag-timeline-card_meta-box'>
                                                    <div class='ag-timeline-card_meta' set:html={h.meta} />
                                                </div>
                                            </>
                                        )}
                                    </div>
                                    <div class='ag-timeline-card_item'>
                                        <div class='ag-timeline-card_inner'>
                                            <div class='ag-timeline-card_img-box'>
                                                {h.media ? (
                                                    <img
                                                        src={h.media.img}
                                                        alt={h.media.alt}
                                                        class='ag-timeline-card_img'
                                                    />
                                                ) : null}
                                            </div>
                                            <div class='ag-timeline-card_info'>
                                                <div class='ag-timeline-card_title' set:html={h.title} />
                                                <div class='ag-timeline-card_desc'>
                                                    <TextualContent content={HistoryBody} />
                                                </div>
                                            </div>
                                        </div>
                                        <a class='ag-timeline-card_link' href={href} aria-label={h.meta} />
                                        <div class='ag-timeline-card_arrow' />
                                    </div>
                                </div>
                            );
                        })
                    }
                </div>
            </div>
        </div>
    </main>
    <script src='../../scripts/history.ts'></script>
</BaseLayout>
