---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Graphic from '../Graphic';
import ProjectCardList from '../ProjectCardList';
import { getAnchors, getTags, mapById } from '../../lib/content';
import type { ContactEntry, LocalizedPianoTileEntry, LocalizedProjectEntry } from '../../lib/content';
import { pageHref } from '../../lib/links';
import { normalizeLocale } from '../../i18n/site';

import '../../styles/index.scss';
import { getRelativeLocaleUrl } from 'astro:i18n';

type Copy = {
    indexMe: string;
    indexMyPhoto: string;
    indexOngoingProjects: string;
    indexAllMyProjects: string;
    indexContact: string;
    indexMyResumePreview: string;
    indexMyResume: string;
    indexVideoCv: string;
    ongoing: string;
    fmtTitle: string;
};

type Props = {
    pianoTiles: LocalizedPianoTileEntry[];
    projects: LocalizedProjectEntry[];
    contacts: ContactEntry[];
    copy: Copy;
};

const props: Props = Astro.props;
const {
    pianoTiles,
    projects,
    contacts,
    copy,
} = props;

const locale = normalizeLocale(Astro.currentLocale);
const [tags, anchors] = await Promise.all([getTags(locale), getAnchors()]);
const tagsById = mapById(tags);
const anchorsById = mapById(anchors);

function stripTags(value: string): string {
    return value.replace(/<[^>]*>/g, '');
}
---

<BaseLayout
    pageName='index'>
    <main>
        <ul class='lvl list-piano-tiles'>
            {
                pianoTiles.map(tile => (
                    <li>
                        <figure>
                            <img
                                src={tile.data.backgroundImage}
                                alt={tile.data.title}
                                width='240'
                                height='480'
                                loading='lazy'
                                title={stripTags(tile.data.summary)}
                            />
                            <figcaption>
                                <div>
                                    <h2>
                                        <a class='foil' href={tile.data.href}>
                                            {tile.data.title}
                                        </a>
                                    </h2>
                                    <p set:html={tile.data.summary} />
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                ))
            }
        </ul>
        <article id='me' class='lvl content-block'>
            <div>
                <h2>{copy.indexMe}</h2>
                <slot name='about-content' />
            </div>
            <img
                src='/portfolio/img/me.jpg'
                alt={copy.indexMyPhoto}
                width='1600'
                height='1600'
                loading='lazy'
                title={copy.indexMyPhoto}
            />
        </article>
        <section id='ongoing-projects' class='lvl'>
            <h2>{copy.indexOngoingProjects}</h2>
            <ProjectCardList
                langLabels={{ ongoing: copy.ongoing, fmtTitle: copy.fmtTitle }}
                projects={projects.filter(project => !project.data.endDate)}
                tagsById={tagsById}
                anchorsById={anchorsById}
            />
            <a href={pageHref(locale, 'projects')} class='lvl button-link'>
                {copy.indexAllMyProjects}
            </a>
        </section>
        <article id='contact' class='lvl content-block'>
            <div>
                <h2>{copy.indexContact}</h2>
                <address>
                    <ul>
                        {
                            contacts.map(contact => (
                                <li title={contact.data.platform}>
                                    <a
                                        class='link iconed-text'
                                        target='_blank'
                                        rel='noopener noreferrer'
                                        href={contact.data.src}>
                                        <Graphic
                                            of={contact.data.icon}
                                            alt={contact.data.platform}
                                        />
                                        <span>{contact.data.name}</span>
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </address>
            </div>
            <a href={getRelativeLocaleUrl(normalizeLocale(Astro.currentLocale), 'cv-bardini-raphael.pdf')} target='_blank' rel='noopener noreferrer'>
                <img
                    src={getRelativeLocaleUrl(normalizeLocale(Astro.currentLocale), 'cv-bardini-raphael-preview.jpg')}
                    alt={copy.indexMyResumePreview}
                    width='212'
                    height='300'
                    loading='lazy'
                />
                <span>{copy.indexMyResume}</span>
            </a>
        </article>
        <article class='lvl content-block'>
            <h2>{copy.indexVideoCv}</h2>
            <iframe
                src='https://www.youtube-nocookie.com/embed/6VqtL5oogwk?modestbranding=1&rel=0'
                width='640'
                height='360'
                title='Video CV - Raphaël Bardini'
                frameborder='0'
                allowfullscreen></iframe>
        </article>
    </main>
    <script src='../../scripts/index.ts'></script>
</BaseLayout>
