---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getLangData, getLangs } from '../../lib/content';
import type { LangEntry } from '../../lib/content';
import { buildLanguages, buildNavItems, buildThemeLabels } from '../../lib/ui';

import '../../styles/projects.scss';

type Copy = {
    projectSearchSearch: string;
    projectSearchPlaceholder: string;
    projectSearchTags: string;
    projectSearchSort: string;
};

type Props = {
    lang: string;
    langData: LangEntry['data'];
    copy: Copy;
};

const props: Props = Astro.props;
const { lang, langData, copy } = props;

const navItems = buildNavItems(langData);
const themeLabels = buildThemeLabels(langData);
const langs = await getLangs();
const langMap = Object.fromEntries(await Promise.all(langs.map(async code => [code, await getLangData(code)])));
const languages = buildLanguages(langs, langMap);
const siteDescription = langData.siteDescription;
const githubTitle = langData.footerGitHubAnchorTitle;
---

<BaseLayout
    lang={lang}
    pageName='projects'
    navItems={navItems}
    languages={languages}
    themeLabels={themeLabels}
    siteDescription={siteDescription}
    githubTitle={githubTitle}>
    <main>
        <datalist id='project-titles'>
            <!-- Fill this up dynamically -->
        </datalist>
        <section class='lvl' id='search-bar'>
            <h1>{copy.projectSearchSearch}</h1>
            <input
                incremental
                type='search'
                id='search-input'
                placeholder={copy.projectSearchPlaceholder}
                autocomplete='on'
                list='project-titles'
            />
            <section>
                <h3>{copy.projectSearchTags}</h3>
                <ul class='lvl list-rect' id='list-tag'>
                    <!-- Tags will be added here -->
                </ul>
            </section>
            <section>
                <h3>{copy.projectSearchSort}</h3>
                <ul class='lvl list-rect' id='list-sorting'>
                    <li>
                        <label for='sort-asc'
                            >A-Z<input type='radio' name='sorting' id='sort-asc' value='asc' checked /></label
                        >
                    </li>
                    <li>
                        <label for='sort-desc'
                            >Z-A<input type='radio' name='sorting' id='sort-desc' value='desc' /></label
                        >
                    </li>
                </ul>
            </section>
        </section>
        <ul class='lvl list-project' id='project-list'>
            <!-- Project list will be updated here -->
        </ul>
    </main>
    <script src='../../scripts/projects.ts'></script>
</BaseLayout>
