---
import type { Reference } from '../content/config';
import { at, getAnchors } from '../lib/content';
import Graphic from './Graphic';

interface Props {
    references: Reference[];
    backlinkLabel: string;
}

const props: Props = Astro.props;
const { references, backlinkLabel } = props;

const anchors = await getAnchors();
---

<ol class='list'>
    {
        references.map((ref, index) => {
            const num = index + 1;
            const anchor = at(anchors, ref.anchor);
            return (
                <li id={`ref-${num}`}>
                    <span class='ref-backlink' aria-label={backlinkLabel} title={backlinkLabel}>
                        <a class='link' href={`#cite-ref-${num}`}>
                            &uarr;
                        </a>
                    </span>
                    <a class='ref-cite link' target='_blank' rel='noopener noreferrer' href={ref.href}>
                        {anchor ? <Graphic of={anchor} alt={ref.caption} /> : null}
                        <span set:html={ref.caption} />
                    </a>
                </li>
            );
        })
    }
</ol>
